<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <img src="../../../assets/img/viacredi.png" alt="" height="90px">
        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>menu</mat-icon>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>search</mat-icon>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>star_border</mat-icon>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>sms</mat-icon>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>tune</mat-icon>
            </a>
        </mat-list-item>

        <mat-list-item>
            <a mat-list-item>
                <mat-icon mat-list-icon>account_balance</mat-icon>
            </a>
        </mat-list-item>

    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
    </mat-sidenav-content>
</mat-sidenav-container>