<mat-toolbar>
    <div>
        <h3><strong>NOVA ADMISSÃO COOPERADO</strong></h3>
        <p class="caminho">Cadastro / Admissão do Cooperado / Nova Admissão do Cooperado</p>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="7" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-button class="btn-viacredi">VIACREDI</button>
    <button mat-icon-button class="icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<main>
    <app-main></app-main>
    <app-busca-cpf></app-busca-cpf>
</main>